.awesome {
  color: #313131;
  -webkit-animation: colorchange 10s infinite alternate; }

@-webkit-keyframes colorchange {
  0% {
    color: blue; }
  10% {
    color: #8e44ad; }
  20% {
    color: #1abc9c; }
  30% {
    color: #d35400; }
  40% {
    color: blue; }
  50% {
    color: #34495e; }
  60% {
    color: blue; }
  70% {
    color: #2980b9; }
  80% {
    color: #f1c40f; }
  90% {
    color: #2980b9; }
  100% {
    color: pink; } }

#navbar {
  float: right; }

.floatl {
  position: fixed;
  left: 7%;
  padding: 0%;
  margin: 0%; }

.nav-item {
  margin: 0%;
  padding: 0%;
  right: 10%;
  border: 5px solid black;
  border-radius: 20%; }

/* CSS code for the Header section. */
header {
  background: url("https://i.imgur.com/rzEKice.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  height: 1080px;
  width: 1920px; }

#headTxt {
  color: black; }

.portItem {
  border: 1px solid black;
  left: 10.5%;
  width: 325px;
  margin: 1%;
  height: 350px;
  color: white;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat; }

#portContainer .port:hover .portItem {
  color: black;
  opacity: .7; }

#portContainer .port .portItem:hover h3 {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1.0; }

#portContainer .port .portItem h3 {
  font-size: 25px;
  transition: transform 0.3s, opacity .3s, -webkit-transform 0.3s;
  transform: translate3d(0, 150px, 0);
  font-weight: 999;
  color: #000; }

#portContainer {
  text-align: center;
  padding: 3%; }

.portrow {
  left: 10%; }

#aboutSec {
  background-color: lightblue;
  text-align: center;
  color: black; }

/* CSS code for the Contact section. */
#contactHead {
  margin-top: 0%;
  color: black; }

#subjectForm {
  margin-left: 20%; }

.message {
  width: 75%;
  height: 150px; }

.formH4 {
  margin-bottom: 0%; }

#contactSub {
  float: right;
  color: black; }

#contactSec {
  color: black; }

#socialMedia {
  position: relative;
  border: 6px solid black;
  width: 100px;
  height: 275px;
  left: 100%; }

#footer {
  color: white;
  background-color: black; }

.socialLinks {
  float: right; }

/* CSS code for the Footer section. */
