#aboutSec{
  background-color: rgb(195, 240, 255);
  text-align: center;
  color: black;
}
.meImg{
  height: 55%;
  width: 55%;
  border-radius: 15%;
}
#tech{
  margin: 0%;
  padding: 0%;
  background-color: black;
}
.tech{
  color: white;
  margin: 0%;
  padding: 0%;
}
.techLinks{
  padding-left: 5%;
  font-size: 70px;
  color:white;
}
.about{
  height: 100%;
  padding: 1%;
  margin: 1%;
  text-align: center;
  border: 10px, solid, black;
}
.me{
  top: -3rem;
}
