#aboutSec{
  background-color: lightblue;
  text-align: center;
  color: black;
}
.meImg{
  height: 70%;
  width: 70%;
  border-radius: 15%;
}
#tech{
  margin: 0%;
  padding: 0%;
  background-color: black;
}
.tech{
  color: white;
  margin: 0%;
  padding: 0%;
}
.techLinks{
  padding-left: 5%;
  font-size: 70px;
  color:white;
}
