/* CSS code for the Contact section. */
#contactHead{
  margin-top: 0%;
  color: black;
}
#subjectForm{
  margin-left: 20%;
}
#messageForm{
  margin-left: 12.5%;
}
.message{
  width: 75%;
  height: 150px;
}
.formH4{
  margin-bottom: 0%;
}
#contactSub{
  float:right;
  color: black;
}
#contactSec{
  color: black;

}
#socialMedia{
  position: relative;
  border: 6px solid black;
  width: 100px;
  height: 275px;
  left: 100%;
}