/* CSS code for the Contact section. */
#contactHead{
  margin-top: 0%;
  color: black;
}
#subjectForm{
  margin-left: 20%;
}
.message{
  width: 75%;
  height: 150px;
}
.formH4{
  margin-bottom: 0%;
}
#contactSub{
  float:right;
  margin-top: 7px;
  color: black;
}
#contactSec{
  color: black;
  background-color: rgb(195, 240, 255);
  padding-bottom: 3%;

}
#socialMedia{
  position: relative;
  border: 6px solid black;
  width: 100px;
  height: 275px;
  left: 100%;
}