/* CSS code for the Footer section. */
#footer{
  color: white;
  background-color: black;
}
.socialLinks{
  float: right;
}
.ion-social-octocat{
  font-size: 30px;
  color:white;
}
.ion-social-linkedin{
  font-size: 30px;
  color:white;
}
.ion-social-facebook-outline{
  font-size: 30px;
  color:white;
}