/* CSS code for the Header section. */
header{
  background: url('https://i.imgur.com/rzEKice.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  height: 1080px;
  width: 1920px;
}
#headTxt{
  color: black;
  
}