.portItem{
  border: 1px solid black;
  left: 6%;
  width: 325px;
  margin: 1%;
  height: 350px;
  color: white;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
}
#portContainer .port:hover .portItem{
  color:black;
  opacity: .7;
}
#portContainer .port .portItem:hover h3 {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1.0;
}
#portContainer .port .portItem h3 {
  font-size: 25px;
  transition: transform 0.3s, opacity .3s, -webkit-transform 0.3s;
  transform: translate3d(0, 150px, 0);
  font-weight: 999;
  color: #000;
}
#portContainer{
  text-align: center;
  padding: 3%;
}
.portrow{
  left: 10%;
}